.sidebar{

    width:260px;

    height:100vh;

    background:#111827;

    color:white;

    display:flex;

    flex-direction:column;

    padding:25px 0;

    position:sticky;

    top:0;

    overflow-y:auto;

}
.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#374151;
    border-radius:10px;
}
.logo-section{

    text-align:center;

    margin-bottom:35px;

}

.logo-section h2{

    color:#3B82F6;

    font-size:30px;

}

.logo-section p{

    color:#9CA3AF;

    font-size:14px;

}

.menu{

    display:flex;

    flex-direction:column;

    flex:1;

}

.menu-item{

    display:flex;
    align-items:center;
    gap:15px;
    padding:16px 28px;
    cursor:pointer;
    transition:0.25s;
    color:#D1D5DB;
    text-decoration:none;

}

.menu-item:hover{

    background:#1F2937;

    color:white;

}

.active{

    background:#2563EB;

    color:white;

    border-left:5px solid white;

}

.menu-item svg{

    font-size:24px;
    color:inherit;
    flex-shrink:0;

}

.menu-item span{

    color:inherit;
}
.menu a{
    text-decoration:none;
    color:inherit;
}