*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{

    background:#eef2f7;

}

.login-container{

    width:100vw;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0F172A,#1E3A8A);

}

.login-card{

    width:430px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 20px 60px rgba(0,0,0,.25);

}

.logo{

    font-size:40px;

    text-align:center;

    color:#2563EB;

    margin-bottom:10px;

}

.subtitle{

    text-align:center;

    color:gray;

    margin-bottom:35px;

}

form{

    display:flex;

    flex-direction:column;

}

label{

    margin-top:12px;

    margin-bottom:8px;

    font-weight:600;

}

input{

    padding:14px;

    border-radius:8px;

    border:1px solid #ccc;

    margin-bottom:15px;

}

button{

    margin-top:15px;

    padding:14px;

    border:none;

    background:#2563EB;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:17px;

}

button:hover{

    background:#1D4ED8;

}

.forgot{

    margin-top:20px;

    text-align:center;

    color:#2563EB;

    cursor:pointer;

}