.kpi-card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 10px 20px rgba(0,0,0,.08);

    transition:.25s;

}

.kpi-card:hover{

    transform:translateY(-5px);

}

.kpi-card h4{

    color:#6B7280;

}

.kpi-card h1{

    margin-top:15px;

    margin-bottom:15px;

    font-size:34px;

}

.kpi-card p{

    color:#16A34A;

    font-weight:600;

}