.table-card{

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 18px rgba(0,0,0,.08);

    margin-top:25px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    text-align:left;

    padding:15px;

    background:#f4f4f4;

}

td{

    padding:15px;

    border-bottom:1px solid #eee;

}